# package directories
node_modules
examples/express/node_modules
examples/express/package-lock.json
examples/express/yarn.lock

#.env
examples/express/.env
.env

#lock files
yarn.lock
package-lock.json

#Others
.DS_Store
.vscode